<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <button class="btn btn-primary" (click)="load10Movies()">Carica 10 film</button>

  <div class="card-columns">
    <div *ngFor="let movie of results" class="card">
      <img class="card-img-top" [src]="photoURL(movie.poster)" alt="Movie poster">
      <div class="card-body text-center">
        <h4 class="card-title">{{movie.title}}</h4>
        <p class="card-text">{{movie.fullplot}}</p>
      </div>
    </div>
  </div>
</body>
</html>


